
*.xml
*.obj
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/renderer.exe
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-9e5f81a5be5670030ac9.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-831700ee553366d4561a.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0a6e5df1456736dc4b47.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-09-16T11-44-42-0098.json
cmake-build-debug/.cmake/api/v1/reply/target-renderer-Debug-d0ed5f331c69fd601ff0.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-a0d2397f841e030aecd4.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
.idea/renderer.iml
